/* All Page Styling */

html {
    margin: 0;
}
body {
    margin: 0;
    overflow-x: hidden;
    font-family: 'Lato', sans-serif;
}
ul {
    list-style: none;
    display: flex;
    align-items: center;
    position: fixed;
    background: rgba(47, 47, 47);
    padding: 12px;
    font-size: 1.3em;
    margin: 0;
    width: 99%;
    border-bottom: 1px solid black;
    z-index: 2;
}
a {
    text-decoration: none;
    color: grey;
}
li > a {
    margin: 0px 20px;
}
li:last-child {
    margin-right: 10px;
}
li:first-child {
    margin-right: auto;
}
li > a:hover {
    border-bottom: 2px solid red;
    color: white;
    transition-duration: 0.3s;
}
.logo:hover {
    border-bottom: 2px solid rgb(47, 47, 47);
}
footer {
    display: flex;
    flex-direction: column;
    background: rgba(47, 47, 47);
}
footer > hr {
    width: 15%;
}
.footerdiv {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 16px 0px;
    background: rgba(47, 47, 47);
}
.btn {
    height: 5vh;
    background: none;
    border: 1px solid grey;
    cursor: pointer;
    padding: 16px;
    color: grey;
    position: absolute;
}
.btn:after {
    content: '';
    display: inline-block;
    margin-left: 8px;
    width: 10px;
    height: 10px;
    border-top: 2px solid grey;
    border-right: 2px solid grey;
    -moz-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    vertical-align: middle;
}
button:hover {
    background-color: rgba(40, 40, 40);
    transition-duration: 0.3s;
}
.credit {
    display: flex;
    justify-content: center;
    color: grey;
}
.credit a {
    margin: 0px 5px;
}
.credit > a:hover {
    color: rgba(150, 150, 150);
}
.twitter:hover {
    background-image: url(images/twitterhover.png);
    cursor: pointer;
}
.linkedin:hover {
    background-image: url(images/linkedinhover.png);
    cursor: pointer;
}
/* Page Specific Styling */
/* Home */

.header {
    background-image: url(images/laptop.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    height: 63em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h1 {
    font-size: 5em;
    color: white;
    text-shadow: 1px 1px 3px black;

}
.header > h2 {
    margin-top: 0;
    font-size: 3em;
    color: white;
    text-shadow: 1px 1px 3px black;
    font-weight: 400
}
.homecontent {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    background-image: url(images/patterns/leaves-pattern.png);
    flex-wrap: wrap;
    z-index: 1;
}
.box1, .box2 {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-size: 2em;
    text-shadow: 2px 2px 3px black;
    width: 550px;
    margin: 0px 15px;
    height: 480px;
    background: white;
    opacity: 0.8;
    border: 2px solid grey;
    cursor: pointer;
    text-align: center;
    color: white;
    box-shadow: 3px 3px 14px #ccc;
    padding: 2em;
    margin-bottom: 1em;
}
.box1:hover, .box2:hover {
    opacity: 1;
    border: 2px solid grey;
    transition-duration: 0.3s;
}
.box1 {
    background-image: url(images/unspecified.jpeg);
    background-position: center;
    background-size: cover;
}
.box2 {
    background-image: url(images/codeheader.jpeg);
    background-position: center;
    background-size: cover;
}
.homecontent > h2 {
    font-size: 3em;
    color: black;
    text-shadow: 2px 2px 3px grey;
    width: 100%;
    text-align: center;
    font-weight: 500;
}

/* About Me */

.secone {
    background-image: url(images/patterns/leaves-pattern.png);
}
.aboutheader {
    background-image: url(images/unspecified.jpeg);
    background-attachment: fixed;
    background-position: bottom;
    background-size: cover;
    height: 35em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.one {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 70%;
    margin: 0 auto;
    box-shadow: 3px 3px 14px #ccc;
    background: white;
}
.one img {
    margin-bottom: -3px;
}
.two {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 70%;
    margin: 0 auto;
}
.coltwo {
    display: flex;
    width: 48%;
    background: white;
    box-shadow: 3px 3px 14px #ccc;
}
.one p {
    margin: 0 auto;
    width: 88%;
    font-size: 1.2em;
}
.one h2 {
    margin: auto;
    width: 90%;
}
.two p {
    margin: 0 auto;
    width: 88%;
    font-size: 1.05em;
    text-align: 
}
.two h2 {
    text-align: center;
}
.html, .css, .js {
    background: grey;
    border: 02px solid black;
    border-radius: 5px;
    width: 90%;
    color: white;
    padding: 08px;
    margin: 10px 0px;
    border-left: 2px solid white;
    margin-left: -2px;
}
.css {
    width: 80%;
}
.js {
    width: 30%;
}
.skills {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}
.skills p {
    width: 100%;
    font-size: 1em;
}

/* Portfolio Page */

.portheader {
    background-image: url(images/codeheader.jpeg);
    background-attachment: fixed;
    background-position: bottom;
    background-size: cover;
    height: 20em;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}
.portlimit {
    width: 80%;
    margin-left: auto;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}
.portlimit > h1 {
    font-size: 3.5em;
    color: black;
    text-shadow: none;
    margin: 0;
    font-weight: 100;
    margin: 30px 0px
}
.portlimit > h2 {
    margin: 0;
    font-size: 1.5em;
    color: white;
    font-weight: 200;
}
.portcontent {
    background-image: url(images/patterns/leaves-pattern.png);
}
.portrow {
    display: flex;
    flex-flow: row wrap;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    align-items: center;
}
.proj1 a, .proj2 a, .proj3 a, .proj4 a, .proj5 a{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin: 0px 20px 20px 0px;
    text-align: center;
    color: black;
}
.proj1:hover .middle1, .proj2:hover .middle2, .proj3:hover .middle3, .proj4:hover .middle4, .proj5:hover .middle5 {
    opacity: 1;
    cursor: pointer;
}
.proj1:hover img, .proj2:hover img, .proj3:hover img, .proj4:hover img, .proj5:hover img {
    cursor: pointer;
    opacity: 0.5;
    transition: 0.5s ease;
}
.middle1, .middle2, .middle3, .middle4, .middle5 {
    transition: .5s ease;
    opacity: 0;
    text-align: center;
    z-index: 2;
    position: absolute;
}

/* Contact Part */
.contacth2 {
    margin: 0;
    font-weight: 50;
    font-size: 2em;
}
.parallax3 {
    background-image: url(images/business-connection-contact-955081.jpg);
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    color: white;
    text-shadow: 2px 2px rgba(0,0,0,.5);
    flex-direction: column;
    align-items: center;
    padding-top: 12em;
    padding-bottom: 11em;
}
.contact div p {
	background: rgba(180,180,180,0.5);
	border-radius: 5px;
	padding: 20px 50px;
	text-align: center;
	color: black;
	text-shadow: none;
}
.limit {
	max-width: 750px;
	padding-left: 20px;
	padding-right: 20px;
}
.col {
	display: flex;
	flex-direction: column;
	width: 48.25%;
}
.row {
    display: flex;
    align-content: center;
    justify-content: space-between;
	width: 100%;
}
form {
	display: flex;
	width: 100%;
	flex-direction: column;
}

input, textarea {
	background: rgba(180, 180, 180, 0.5);
	border-radius: 5px;
	border: none;
	padding: 10px;
	margin: 10px 0;
	height: 100%;
	font-family: Open Sans, sans-serif;
	box-sizing: border-box;
}
input[type=submit] {
	background: #262628;
	width: 25%;
	color: white;
	font-size: 1em;
}
input[type=submit]:hover {
    cursor: pointer;
    background: rgb(55,55,55);
    transition-duration: 0.3s;
}
input[type=text]::placeholder, input[type=email]::placeholder, textarea[type=text]::placeholder {
    color: black;
    font-size: 1.1em;
    opacity: 1;
}
textarea[type=text]::placeholder {
    opacity: 1;
}
@media screen and (max-width: 600px) {
    h1 {
        font-size: 4em;
    }
    .header > h2 {
        font-size: 2em;
    }
    .footerdiv {
        margin: 0px -100px;
    }
}